body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: #1f2937;

    color: white
}

.header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
text-decoration: none;
color: white;
}

.container1{
    
    margin: 50px;
    padding: 50px;
    display: flex;
    height: 400px;
    width: 1200px;

}

.content{
    display: flex;
    flex-direction: column;
    margin-right: 50px;

}

.main-text{
    font-size: 48px;
    font-weight: 950;
    color: #f9faf8;
}

.main-image{
    height: 400px;
    display: flex;
    margin: 0;
    flex: 1;
    margin-left: 50px;
}

